.product_container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  align-items: center;
  justify-content: flex-end;
  margin: 10px !important;
  padding: 20px;
  width: 90%;
  max-height: 400px;
  border-radius: 50px;
  transition: all 350ms ease;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product_container:hover {
  transform: translateY(-5%);
}

.product_info {
  height: 75px;
  margin-bottom: 15px;
}
.price {
  margin-top: 5px;
}

.rating {
  display: flex;
}
.product_container > img {
  max-height: 200px;
  object-fit: contain;
  width: 100%;
  margin-bottom: 15px;
}

.product_container > button {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #737578;
  transition: all 350ms ease;
  font-size: medium;
  font-weight: bold;
}

.product_container > button:hover {
  cursor: pointer;
  background-color: yellow;
}
