.totalprice_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 20px;
  width: 300px;
  height: 150px;
}

.linetwo {
  display: flex;
  align-items: center;
}

.linetwo > input {
  margin-right: 5px;
}

.btn1 {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #737578;
  transition: all 350ms ease;
  font-size: medium;
  font-weight: bold;
}

.btn1:hover {
  cursor: pointer;
  background-color: yellow;
}
